<p style="color: green"><%= notice %></p>


<div class = "container">
    <%#= render @article %>

      <div>
        <div class="text-center">
          <% begin %>
            <%= image_tag @article.image, class: "card-img-top w-25" %>
            <% rescue Sprockets::Rails::Helper::AssetNotFound %>
            <p class="my-5">No image found</p>
          <% end %>

          <p>Comentario: <%= @article.name  %></p>
      
   </div>

        <div>
              <%= render 'actions/options' %>
              <%= render 'actions/counters' %>
         </div>

        <div>
 
  <div class = "text-center">
    <%= link_to "Edita Articulo", edit_article_path(@article), class:"btn btn-dark btn-sm" %> 
    <%= link_to "Retorna", articles_path, class:"btn btn-dark btn-sm"  %>
    <%= link_to "Comenta", new_description_path, class:"btn btn-dark btn-sm"  %>
    <%= button_to "Destroy this article", @article, class:"btn btn-danger btn-sm", method: :delete %>

  </div>

</div>
